<div class="row text-center">
  <div class="col-0 col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">
    <h1>Sloan Gwaltney</h1>
    <p>A passionate MEAN (Mongodb, Express.js, Angular, and Node.js)
      developer that has experience with React.js and is looking to be an asset to your organization.</p>
    <h3>Why You Should Hire Me</h3>
    <p>
      You should hire me because I am passionate, dedicated, hard-working, adaptable, quick learning and open to new ideas.
      I will take my plethora of skills that I already have and combine them with the skills I learn
      from working with your organization in order to help your organization produce applications that will
      exceed the client's expectations. I will work with others in your organization to mix and mold ideas to
      create one of a kind applications that the client will tell their friends about. I will do what it takes
      to be a positive influence in your organization.
    </p>
    <h3>About Me</h3>
    <p>
      I have a degree in biology but fell in love with development when I was a Junior.
      Since then I have been working on code when I have time and creating projects to demonstrate my skills.
      I have many hobbies including chess, sporting clays, programming and more.
    </p>
    <button mat-button [routerLink]="['/about']">More About Me</button>
    <h3>Skills</h3>
    <p>
      During my short time as a developer, just over a year, I have acquired a plethora of skills
      and I am always interested in learning more. Some of my skills include mongodb, express, react,
      Digital Ocean Droplets and more. 
    </p>
    <button mat-button [routerLink]="['/skills']">See More of My Skills</button>
  </div>
  <div class="col-0 col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
</div>
