<div *ngIf="FullLayout; else drop">
  <mat-toolbar color="primary">
    <span id="full-home-nav" [routerLink]="['/']">Sloan Gwaltney</span>
    <span class="spacer"></span>
    <span class="nav-item" id="full-about-nav" [routerLink]="['/about']">About Me</span>
    <span class="nav-item" id="full-projects-nav" [routerLink]="['/projects']">Projects</span>
    <span class="nav-item" id="full-skills-nav" [routerLink]="['/skills']">My Skills</span>
  </mat-toolbar>
</div>

<ng-template #drop>
  <mat-toolbar color="primary">
    <span id="drop-home-nav" [routerLink]="['/']">Sloan Gwaltney</span>
    <span class="spacer"></span>
    <button mat-icon-button id="drop" [matMenuTriggerFor]="dropdown" #drop>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #dropdown>
    <button mat-menu-item id="drop-about-nav" [routerLink]="['/about']">About Me</button>
    <button mat-menu-item id="drop-projects-nav" [routerLink]="['/projects']">Projects</button>
    <button mat-menu-item id="drop-skills-nav" [routerLink]="['/skills']">My Skills</button>
  </mat-menu>

</ng-template>
<ng-template #full></ng-template>