<div *ngIf="FullLayout; else drop">
  <mat-toolbar color="primary">
    <span>Full Layout</span>
    <span class="spacer"></span>
    <span class="nav-item" [routerLink]="['/about']">About Me</span>
    <span class="nav-item" [routerLink]="['/projects']">Projects</span>
    <span class="nav-item" [routerLink]="['/skills']">My Skills</span>
  </mat-toolbar>
</div>

<ng-template #drop>
  <mat-toolbar color="primary">
    <span>Drop Layout</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="dropdown">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #dropdown>
    <button mat-menu-item [routerLink]="['/about']">About Me</button>
    <button mat-menu-item [routerLink]="['/projects']">Projects</button>
    <button mat-menu-item [routerLink]="['/skills']">My Skills</button>
  </mat-menu>

</ng-template>
<ng-template #full></ng-template>