<div class="row text-center">
  <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
  <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
    <h1>Some of My Skills</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Skill</th>
          <th scope="col">Confidence (Out of 10)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of Skills">
          <td>{{skill.skill}}</td>
          <td>{{skill.confidence}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2"></div>
</div>
