<div class="text-center row app-mat-primary spacer">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h5>This Website</h5>
    <p>
      This website was created as an outlet of self expression and self promotion.
      Due to this website being mainly promotional it should never use methods of tracking
      where you are, your personal interest, 3rd party pages you visit or what you buy.
      My mission with this website is not to make money but to put my work up in a public place.
    </p>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <ul class="list-unstyled">
      <h5>Navigation</h5>
      <li [routerLink]="['/']">Home</li>
      <li [routerLink]="['/about']">About Me</li>
      <li [routerLink]="['/projects']">My Projects</li>
      <li [routerLink]="['/skills']">My Skills</li>
    </ul>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h5>Legal</h5>
    <p>© {{Year}} by Sloan Gwaltney.</p>
    <p>This websites source code is available at link under MIT license also copyright by Sloan Gwaltney</p>
  </div>
</div>