<div class="text-center row app-mat-primary spacer">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h5>This Website</h5>
    <p>
      This website was created as an outlet of self expression and self promotion.
      Due to this website being mainly promotional it will never use methods of tracking
      where you are, your personal interest, 3rd party pages you visit or what you buy.
      My mission with this website is not to make money but to put my work up in a public place.
    </p>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <ul class="list-unstyled">
      <h5>Navigation</h5>
      <li id="home-nav"><a [routerLink]="['/']">Home</a></li>
      <li id="about-nav"><a [routerLink]="['/about']">About Me</a></li>
      <li id="projects-nav"><a [routerLink]="['/projects']">My Projects</a></li>
      <li id="skills-nav"><a [routerLink]="['/skills']">My Skills</a></li>
    </ul>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h5>Legal</h5>
    <p id="year">© {{Year}} by Sloan Gwaltney.</p>
    <h5>Versions</h5>
    <ul class="list-unstyled">
      <li id="web-version">Website: {{WebsiteVersion}}</li>
      <li id="api-version">API: {{ApiVersion}}</li>
    </ul>
  </div>
</div>