<div class="row text-center">
  <div class="col-0 col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">
    <h1>About Me!</h1>
    <h3>Education</h3>
    <p>
      I have a little experience in many forms of education. 
      I went to public school from K4 - 6th grade.
      After that, I spent 7th and 8th grade in an online charter school.
      I went to high school at a private high school.
      Then I spent 10 semesters getting my biology degree from Winthrop University.
    </p>
    <p>
      During my last three semesters and after college I turned most of my focus to web development.
      I have spent numerous hours on youtube and digging through the documentation of the various
      libraries, frameworks, and languages I know. I am always hungry to learn more about Javascript/Typescript
      and the ways developers are using them.
      I enjoy learning how I can do things better and teaching others.
    </p>
    <h3>From Biology to Web Development</h3>
    <p>
      When I was in my 6th semester of college (2nd semester Junior year)
      I took a deep look at my lives path at the time. I had spent three years in college.
      During that time I had not really been excited to learn 90% of the biology I was taught.
      I had my main focus in genetics and Bioinformatics. These were graduate level studies. 
      At the end of my Junior year, it felt like all I had really been taught was theory and how to follow
      protocols on a sheet. Even common things like Gram stains we only did once or twice
      so I never had an opportunity to actually learn practical lab skills. Between not learning skills, 
      limited opportunities in my area of interest and changing interest I felt it was time for a change
      in my life.
    </p>
    <p>
      During the peak of my frustration and aggravation at the situation,
      I was driving back to Winthrop from a weekend at home. I had youtube playing while I was driving
      and I came across a video that was comparing
      self-taught, code camp, and college as methods of learning to program.
      I always had assumed that one needed a computer science degree and a heavy math background.
      This video showed me that these were things that were helpful but not absolutely needed.
      That day (October 1, 2017) I went to one of the websites the video suggested, freecodecamp.org,
      and started my journey into web development.
    </p>
    <h3>Hobbies</h3>
    <p>
      I have a very long list of hobbies that at different times in my life are more or less pursued.
      I was a very young chess champion winning state titles for my age ground in 4k, 5k, and 1st grade.
      I still play every once in a while. Another hobby is sporting clays. I was part of my high school's team.
      We won several events including two Junior U.S Opens. I also enjoy playing pool from time to time.
      One of my favorite hobbies is development.
      I love writing pieces of code turn into functioning applications. 
    </p>
  </div>
  <div class="col-0 col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
</div>