<div class="row text-center">
  <div class="col-0 col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">
    <h1>About Me!</h1>
    <h3>Education</h3>
    <p>
      I have a Bachelors of Science in Biology from Winthrop University.
      From my biology classes I learned how to think logically and critically,
      communicate and work with fellow students, create and deliver presentations,
      and how to think through complicated systems and their interactions.
      Outside of biology I learned the basics of Python, Access and the basics of creating a web page.
    </p>
    <p>
      During my last two semesters and after college I turned most of my free focus to web development.
      I have spent numerous hours on youtube and digging through the documentation of the various
      libraries, frameworks, and languages in order to learn them. 
      I am always hungry to learn more about application development.
      I enjoy learning how I can do things better and teaching others.
    </p>
    <h3>From Biology to Web Development</h3>
    <p>
      During my time in college, I had not really been excited to learn 90% of the biology that was taught. 
      It felt like the only skills I had learned in biology was how to follow
      protocols on a sheet. Even common things like Gram stains we only did once or twice. Between not learning skills, 
      limited opportunities in my area of interest and changing interest I felt it was time for a change
      in my life.
    </p>
    <p>
      During the peak of my frustration and aggravation at the situation, I came across a <a href="https://www.youtube.com/watch?v=_FioceDs7JA">video</a> that was comparing
      self-taught, code bootcamp, and college as methods of learning to program.
      That day (October 1, 2017) I went to one of the websites the video suggested, <a href="https://www.freecodecamp.org">freecodecamp</a>,
      and started my journey into web development.
    </p>
    <h3>Hobbies</h3>
    <p>
      I have a very long list of hobbies that at different times in my life are more or less pursued.
      I was a very young chess champion winning state titles for my age ground in 4k, 5k, and 1st grade.
      I still play every once in a while. Another hobby is sporting clays. I was part of my high school's team.
      We won several events including two Junior U.S Opens. I also enjoy playing pool from time to time.
      One of my favorite hobbies is development.
      I love writing pieces of code and turning them into functioning applications. 
    </p>
  </div>
  <div class="col-0 col-sm-1 col-md-2 col-lg-2 col-xl-3"></div>
</div>